.a {
    color: aquamarine;
    font-size: 40px;
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
}
#a {
    color: cornflowerblue;
}
#b {
    color: aqua;
}
#c {
    color: blueviolet;
}
#a span {
color: black;
}
#b span {
color: brown;
text-decoration: line-through;
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}